/* Navbar css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background: rgba(15, 15, 16, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.navbar__logo {
  color: #c2e4b9;
}

.navbar__menu {
  display: none;
}

.navbar__menu li a {
  text-decoration: none;
  color: #cfc8c8;
  font-size: 15px;
}

/* 以下為手機螢幕設置 */
/* 漢堡按鈕 */
.hamburger {
  width: 28px;
  height: 12px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100; /* 比 overlay 高 */
}


/* 兩條線：用絕對定位，避免 flex 壓縮 */
.hamburger .line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff; /* 改成白色更清楚 */
  border-radius: 2px;
  transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
    /* Safari 相關強化 */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: center center;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
}

/* 初始狀態 */
.hamburger .line1 { top: 0; }
.hamburger .line2 { bottom: 0; }

/* 變叉叉狀態 */
.hamburger.is-active .line1 {
  top: 50%;
  transform: rotate(45deg);
}

.hamburger.is-active .line2 {
  top: 50%;  /* 改用 top:50%，不再用 bottom */
  transform: rotate(-45deg);
}




/* Overlay menu */
.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  background-color: rgba(15, 15, 16, 0.95);
  opacity: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
  z-index: 1050;

  /* 讓 logo 與清單「上下堆疊、靠左、全寬」 */
  display: flex;
  flex-direction: column;            
  align-items: stretch;              
  overflow: hidden;   
  padding: 0px 24px;                 
}

.overlay-menu.open {
  height: 100vh;
  opacity: 1;
}

/* overlay 內的 logo（左上角） */
.overlay-logo {
  margin: 9px 0 180px 0px;  /* logo跟下方的距離 */    
  color: #c2e4b9;
}



/* 選單列表 */
.overlay-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;                       
  text-align: left;                   
}

.overlay-menu__list li {
  /* margin: 24px 0; */
  border-bottom: 1px solid rgba(244, 239, 239, 0.1);
}

.overlay-menu__list li a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
  display: block;
  padding: 18px 0;                    /* 左右空間靠 container 的 padding 控制 */
  font-weight: 600;
  font-family: "Roboto Mono";
}

.overlay-menu__list li a:hover {
  color: #c2e4b9;
}

/* 手機版樣式 */
/* 在大螢幕還是橫向的話可以隱藏 overlay button 或調整 */
@media (min-width: 769px) {
  .hamburger { display: none; }
  .overlay-menu { display: none; }
  .navbar__menu {
    display: flex;
    gap: 20px;
  }
}