/* Navbar css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  /* background: white; */
  background: rgba(15, 15, 16, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.navbar__logo {
  /* font-weight: 500; */
  /* font-size: 16px; */
  color: #c2e4b9;
}

.navbar__menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar__menu li a {
  text-decoration: none;
  color: #cfc8c8;
  font-size: 15px;
}

/* 以下為手機螢幕設置 */
/* 漢堡按鈕 */
.hamburger {
  width: 28px;
  height: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100; /* 比 overlay 高 */
}


.hamburger .line {
  display: block;
  height: 2px; /* 線條粗度 */
  background-color: #cfc8c8;
  border-radius: 2px;
  transition: transform 0.3s, opacity 0.3s;
}

/* 漢堡變成 X 的狀態 */
.hamburger.is-active .line1 {
  transform: translateY(5px) rotate(45deg);
}

.hamburger.is-active .line2 {
  transform: translateY(-5px) rotate(-45deg);
}


/* Overlay menu */
.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  background-color: rgba(15, 15, 16, 0.95);
  opacity: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-menu.open {
  height: 100vh;
  opacity: 1;
}

/* 關閉按鈕在 overlay 裡面 */
.overlay-menu .close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

/* 選單列表 */
.overlay-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.overlay-menu__list li {
  margin: 24px 0;
}

.overlay-menu__list li a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
  align-items: start;
}

.overlay-menu__list li a:hover {
  color: #c2e4b9;
}

/* 手機版樣式 */
/* 在大螢幕還是橫向的話可以隱藏 overlay button 或調整 */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
  .overlay-menu {
    display: none;
  }
  .navbar__menu {
    display: flex;
    gap: 20px;
  }
}