@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  /* font-family: 'Martian Mono', 'Roboto Mono', 'Martian Mono', 'Cascadia Mono', monospace; */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cascadia Mono', monospace;
}
